:root {
  --main-color: rgb(255,0,0);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



body {
	line-height: 1;
	background:#F7F7F7;
	color:#2E2E2E;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
@font-face {
    font-family: 'C1500';
    src: url('../fonts/canada1500-rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'C1500';
    src: url('../fonts/canada1500-bd.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
} 

@font-face {
    font-family: 'C1500';
    src: url('../fonts/canada1500-rg-it.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
} 

@font-face {
    font-family: 'C1500';
    src: url('../fonts/canada1500/canada1500-bd-it.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
} 

body {
	font-family:'C1500';
	font-size:16px;
	line-height:1.4em;
}


h3 {
	font-weight:bold;
	font-size:1.2em;
}

.nav {
	background:var(--main-color);
	position:fixed;
	top:0;
	width:100%;
	z-index:9999;
	
}
button {
	background:#FFF;
	    margin: 1rem 0;
}
/*
button:hover {
	background:white;
	
	color:black;
}*/

/* teaser */


.teaser {
	display:inline-block;
	margin:1em;
}

.teaser-img {
	display:inline-block;
	background:#000;
	min-height:200px;
	min-width:300px;
}

/* teaser */


.line-teaser {
	
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	display:grid;
	grid-template-columns: 2fr 1fr 4fr 1fr
}

.line-left,
.line-right {
	margin:0.5em;
}

.teaser-img {
	display:inline-block;
	background:#000;
	min-height:200px;
	min-width:300px;
}

.full-img {
	width:60vw;
	height:40vw;
	margin:auto;
	background:#000;
	display:block;
	
}

.caption {
	width:60vw;
	margin:auto

}

/* full */

.full {
	max-width:1200px;
	margin:auto;
}


.full-contents {
	display:grid;
	grid-template-columns: 1fr 2fr 1fr;
	margin-top:2em;
}


.flickity-prev-next-button,
.flickity-prev-next-button:hover {
	background:rgba(255,255,255,0);
}


.main-carousel {
	margin-bottom:4em;
}
.carousel-cell {
  width: 100%; /* full width */
  /*height: 200px;*/
  background: #fff;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.carousel-cell img {
  display: block;

    transform: translate(50%);

  max-height: 100%;
}

.logo {
	color:#FFF;
	padding:1em;
}

.ccc {
	max-width:1600px;
	margin:auto;
}

.containter {
	max-width:1600px!important;
}

.border {
	border:1px solid #000;
}


h2 {
	font-size:31px;
	margin-bottom:1em;
}


.info {
	
	padding:0.5em 0;
	border-top:1px solid #989494;

}
.label {
	font-family:times new roman;
}


.artist-info .info {
	display:grid;
	grid-template-columns: 1fr 4fr;
}

.right-menu .info {
	display:grid;
	grid-template-columns:1fr 35px;
}

.right-menu .info:hover{
	color: var(--main-color);
}

.container img {
	width:100%;
	max-width:100%;
}

button.expand {
	background: var(--main-color);
	border:none;
    color: #FFF;
    border-radius: 50%;
    width: 30px;
    padding: 0;
    height: 30px;
    font-size: 33px;
    font-weight: bold;
    text-indent: 2px;
    /*display: inline-block;*/
    /*float:right;*/
    margin:0;
    transform:rotate(45deg);
    transition:all 0.2s;
}


.right-menu .info:hover button.expand {
	transform:rotate(0deg);
}